:root {
    --sidebar-width: 64px;
}
.sidebar {
    width: var(--sidebar-width);
    transition: width 0.3s;
}
.main-content {
    transition: margin-left 0.3s;
    margin-left: var(--sidebar-width);
}
@media (min-width: 640px) {
    .sidebar:hover {
        width: 256px; 
        z-index: 10;
    }
    .sidebar:hover ~ .main-content {
        margin-left: 256px;
    }
}

#alert-list {
    max-height: 400px;
    overflow-y: auto;
}


#bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: 0; 
}